/* Reset */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border: 1px solid black;
}

/* body {
    border: 1px solid black;
} */

#division-tag {
    color: blue;
    background-color: pink;
    transition: color .5s;
}

#division-tag:hover {
    color: green;
    background-color: rgb(226, 217, 87);
}

.class-tag {
    background-color: pink;
    transition: color .5s;
}

.bold-font {
    font-weight: bold;
}

.italic-style {
    font-style: italic;
    color: green;
}